



<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="/">Stock Search</a>
      <button class="navbar-toggler" type="button"  (click)="anchorCollapse()" data-bs-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <div class="navbar-nav ms-auto mt-4 mt-md-0 float-end">
          <a class="nav-link px-3" (click)="anchorCollapse()" [ngClass]="currentUrlPat=='search'?route=='home'?'':'active-link':''" [routerLink]="'/search/'+route">Search</a>
          <a class="nav-link px-3" (click)="anchorCollapse()" routerLink="/watchlist" routerLinkActive="active-link">Watchlist</a>
          <a class="nav-link px-3" (click)="anchorCollapse()" routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a>
        </div>
      </div>
    </div>
</nav>



